#root {

  margin: 0;
  padding: 0;
  text-align: center;
  --branco: #FFFFF0;
  --verde: #92FFE5;

}

.menu {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.menu a{
  color:var(--branco);
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.apresentacao{

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.descricao{
 
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5%;
    color:var(--branco); 
    text-align: center;
    width: 800px;

}

.apresentacao img{

  width: 30%;

}

.elemento{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #66CDAA;
    border-radius: 20px;
    flex-wrap: wrap;
}



.classes{

  display: flex;
  padding: 1%;

}

.classes img{

  width: 50px;
  height: auto;

}