:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  --branco: #FFFFF0;
}

body{

  background:linear-gradient(to right, #07775C,#0DDDAB);

}

h1 {
  font-size: 400%;
  color:var(--branco);
  margin-left: 3%;
}

h2 {
    color:var(--branco); 
    display: flex;
    font-weight: 600;
    font-size: 300%;
    margin-left: 15%;
}

h3{
  color:var(--branco); 

}


