:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  background:linear-gradient(to right, #07775C,#0DDDAB);
  --branco: #FFFFF0;
}

h1 {
  font-size: 400%;
  color:var(--branco);
  margin-left: 3%;
}

h2 {
    color:var(--branco); 
    display: flex;
    font-weight: 600;
    font-size: 350%;
    margin-left: 3%;

}

p {
  color:var(--branco); 
  text-align: center;
  margin-left: 3%;
}

